body {
    background-color: #101b4a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    align-items: center;
    margin-top: 5%;
    text-align: center; 
}

.rombo {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 4px solid gold;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 47%;

  }
  
  #logo {
    font-weight: bolder;
    color: gold;
    transform: rotate(-45deg);
    position: absolute;
    white-space: nowrap;
  }

.bolilla {
    color: blanchedalmond;
}

.bolillaSubmit {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace que la casilla sea un círculo perfecto */
    background-color: rgb(255, 255, 255); /* Cambia el color de fondo del círculo */
    color: rgb(33, 46, 105); /* Cambia el color del texto */
    font-size: 24px; /* Ajusta el tamaño del texto para que quepa dentro del círculo */
    border: none; /* Elimina el borde de la casilla */
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bolilla,
.bolillaSubmit {
    display: inline-block;
    margin-right: 10px;
}

#contenedorFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#consigna {
    border: 2px groove white;
    margin: 0px 400px;
}

p {
    color: white;
    font-weight: lighter;
}

.separador {
    margin: 100px;
}

.botones {
    position: relative;
    left: 200 px;
    bottom: 400 px;
}

.botones-container {
    margin-top: 100 px;
}